
<section class="intro-section intro-section-3 ">
	<div class="overlay full-wh bg-cover bg-cc divka" style="height: 100vh; background-image: url('http://ukk.nis.edu.kz/Oskemen/portal/wp-content/uploads/2017/03/Nazarbaev-Intellektualnaya-shkola-himiko-biologicheskogo-napravleniya-g.-Ust-Kamenogorsk-Biologiya-463-1024x683.jpg');"></div>
	<div class="container">

		<div class="info-wrp">
			<div class="carousel-widget" id="carousel-widget" data-items="1" data-itemrange="false" data-tdrag="false" data-mdrag="false" data-pdrag="false" data-autoplay="true" data-in="flipInX" data-loop="true" data-hstop="true">

				<div class="owl-carousel">
					<div class="item"><h2 class="main-text" style="font-size: 75px;"> Добро пожаловать на сайт</h2></div>
					<div class="item"><h2 class="main-text"style="font-size: 88px;"> Мукашевой Куралай</h2></div>
				</div>
			</div>

			<p class="sub-text">Здесь вы можете узнать обо мне и скачать практические материалы для уроков</p>

			<%= link_to "Узнать обо мне", welcome_about_path, :class=>"btn btn-default btn-lg"%>
		</div>

	</div><!-- /.container -->
</section>