@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Didact+Gothic');
.fon{
    font-family: 'Didact Gothic', sans-serif;
}
.saya{
    max-height: 200px;
}
.diploma{
    width: 100%;
}
.hei{
    max-height: 300px;
}
.forma{
    margin-top: 20px;

    
}

.btn-primary:visited { text-decoration: none; color:white; }